<div id="contents">
	<div id="artist_photo">
		<%= image_tag '/hrd_artist_photo.jpg', :width => '100%' %>
	</div>
	<div id="member_title">Hondo Raccoon Dogs<br>左Vo/Gt.たつき　右Ba/Vo.ふじさわ</div>
	<div id="comment">2013年4月に結成されたVo/Gt.たつきとBa/Vo.ふじさわから成るポップロックたぬきバンド。
		<br><br>キャッチーなポップサウンドから鋭いリフものロックまで、変幻自在のセットリストで楽しい時間を作り出します！
	</div>
	<div id="history">
		<div><span>2013/05</span><span>「Demoでも...たぬきだよ」配布開始！</span></div>
		<div><span>2013/06</span><span>「たぬきと羊」配布開始！</span></div>
		<div><span>2013/09</span><span>「たぬきと流星群」配布開始！</span></div>
		<div><span>2013/09</span><span>　サポートドラマー加入</span></div>
		<div><span>2013/12</span><span>「たぬきと工場」配布開始！</span></div>
		<div><span>2014/05</span><span>「ほんどたぬきと真夜中の演奏会」発売！</span></div>
		<div><span>2014/09</span><span>「ほんどたぬきと新緑の公園」発売！</span></div>
		<div><span>2014/09</span><span>　初自主企画「HRD Festa!Vol1」を開催！</span></div>
	</div>
</div>
