<div id="side_menu">
	<!-- 画面サイズが768pxより小さい時はメニューを隠してメニューへのリンクを出す。 -->
	<a id="menu_link" href="javascript:void(0);" onClick="menuAction();">
	    <i></i>
	</a>
	<div id="menu_space">
	    <a href="/pages/top" id="menu_title"><%= image_tag '/hrd_menu.jpg', :width => '120px' %>
	    </a>
		<ul id="menu">
			<li class="menu_separate">
			    <a href="/pages/news">News</a>
			</li>
			<li class="menu_separate">
			    <a href="/pages/biography">Biography</a>
			</li>
			<li class="menu_separate">
			    <a href="/pages/discography">Discography</a>
			</li>
			<li class="menu_separate">
			    <a href="/pages/liveinformation">Live<br>Information</a>
			</li>
			<li class="menu_separate">
			    <a href="/pages/movie">Movie</a>
			</li>
			<li class="menu_separate">
			    <a href="javascript:void(0);">SNS</a>
			</li>
			<li>
			    <a href="/pages/twitter">&nbsp;-&nbsp;Twitter<br>&nbsp;&nbsp;(ふじさわ)</a>
			</li>
			<li>
			    <a href="/pages/twitter">&nbsp;-&nbsp;Twitter<br>&nbsp;&nbsp;(たつき)</a>
			</li>
			<li>
			    <a href="http://www.audioleaf.com/hondo_raccoon_dogs/" target="_blank">&nbsp;-&nbsp;Audioleaf</a>
			</li>
			<li>
				<a href="http://hondoraccoondogs.blog.fc2.com/" target="_blank">&nbsp;-&nbsp;Blog</a>
			</li>
			<li class="menu_separate">
			    <a href="javascript:void(0)">Store</a>
			</li>
			<li>
			    <a href="/pages/cd">&nbsp;-&nbsp;CD</a>
			</li>
			<li>
			    <a href="/pages/goods">&nbsp;-&nbsp;Goods</a>
			</li>
		</ul>
	</div>
</div>